{{ define "main" }}


<div class="column left">
<nav>
	<ul>
		<li><a href="/photos">Photos</a></li>      
		<li><a href="/archive">Archive</a></li>
		<li><a href="/about">About</a></li>
	</ul>
	</nav>
<hr>
<div id="colophon">
<h4>Projects</h4>
<div class="stet"><a href="http://www.stet.build/ia"><h3>In Abeyance</h3></a></div>
	<p>Subscribe to my <a href="http://www.stet.build/ia">monthly newsletter</a> on the built environment.</p>
<div class="divider"></div>
<div class="stet">
	<a href="/c01"><h3>C01 Calendar</h3></a>
</div>
	<p>Download an <a href="/c01">actions tracking calendar</a> for 2019.</p>

</div>
</div>

<div class="column right">
<section class="entries">
<h4>Online Journal</h4>
{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 25) }}
{{ range $paginator.Pages  }}

    <article class="entry">
	  {{ if .Title }}
		<h2 class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	  {{ end }}
      
      <div class="entry-content">{{ .Content }}</div>
      
      <footer class="date">
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}"><a href="{{ .Permalink }}" title="Permalink to Microblog post" class="u-url">{{ .Date.Format "Monday, 2 January, 2006" }}</time></a>
      </footer>
      
    </article>


{{ end }}

</section>
</div>
{{ end }}

