<header>
  <section class="Title">
			<h1 class="Logo"><a href="/">Khaled Abou Alfa</a></h1>
	</section>
</header>

<nav>
	<ul>
		<li><a href="/archive">Archive</a> / </li>
		<li><a href="/about">About Khaled</a> / </li>
		<li><a href="/photo">Photos</a> / </li>
    <li><a href="/release">Releases</a></li>        
	</ul>
</nav>
    
<!--  <figure class="avatar">
    <a href="/"><img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Author.name }}"></a>
  </figure>
  <h1 class="site__name">{{ .Site.Author.name }}</h1>
  
	{{ range .Site.Menus.main }}
		{{ if .Page.Params.redirect_url }}
			<a class="site__page" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
		{{ else }}
			<a class="site__page" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
		{{ end }}
	{{ end }}
-->


