:root {
    --bg: #fafafa;
    --text: #3b3b3b;
    --site-name: #3b3b3b;
    --link: #3b3b3b;
    --link-hover: #053ef4;
    --date: #d1d1d1;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'libertadregular', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    padding: 1rem;
  font-weight: 400;
}

	h1,h2,h3,h4,h5 {
		line-height: 1;
		margin-bottom: 0.618rem;
		font-family: 'libertadextrabold';
	}

	h1, h2 {
		font-size: 1.618rem;
	}
h3 {
font-size: 1.375rem;
  font-weight: normal;
  padding: 0;
}
h4 {
  color: var(--date);
font-weight: normal;
  padding-bottom: 10px;
		padding-top: 10px;  
border-top: 1px dotted var(--date);
}

	em {
      		font-family: 'libertaditalic';
        		font-weight: normal;
      font-style: normal;
        	   	}
strong {
font-family: 'libertadextrabold';
font-style: normal;
}

/* Entries. */
p, li {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

footer p, footer.copyright { font-size: 1rem;}

p img {
    width: 100%;
    height: auto
}

article.entry {
    margin-bottom: 4.618rem;
}

article.single {
 min-height: initial; 
}
/* Links and how they behave. */

a {
    color: var(--link);
    text-decoration: none;
    border-bottom: 1px solid var(--link);
    transition: none;
    font-weight: normal;
}

a:hover {
    color: var(--link-hover);
    border-bottom: 1px solid var(--link-hover);
}

header a, header a:hover, nav a, nav a:hover, h2 a, h2 a:hover, .stet a, .stet a:hover {
    border-bottom: none;
}

footer.date {margin-top:10px;}
footer.footer {
margin-bottom: 5rem;
  border-top: 1px dotted var(--date) ;
padding-top: 10px;
}
footer.date a {
  margin-top: 10px;
    font-size: 1rem;
    color: var(--date);
    border-bottom: 1px dotted var(--date);
}

footer.date a:hover {
    color: var(--link-hover);
    border-bottom: 1px dotted var(--link-hover);
}
.copyright {font-size: 1rem;}
.column {
    width: 100%;
}

nav ul li, nav ul {
    list-style: none;
		padding: 0;
  margin:0;
}

#colophon {
margin-top: 1.2rem;
}

#colophon img { width:100%;}

		header {
				margin: 5rem auto;
		}

h1.Logo a {
    font-weight: bold;
}

hr          						{ border: none; padding: 30px 0; text-align: center;}
hr:before  							{ content: "❦"; text-align: center; font-size: 30px;}

.divider { border-bottom: dotted 1px var(--date); margin: 30px 0; }

	h2.colophon-title, h2.stream-title {
		border-bottom: 5px solid var(--text);
		padding-bottom: 10px;
		padding-top: 30px;    
	}

	h2.colophon-title,  h2.stream-title, 
	h2.Logo a {

          	}
    

@media all and (min-width: 800px) {
    #container, main {
        margin: 0 auto;
 }

		header{
				width: 56rem;
				margin: 5rem auto;
		}
    main,  footer.footer  {
        width: 56rem;
    }

  footer.footer {
  margin: 0 auto 5rem auto;
  }
  
    .column {
        float: left;
    }

    .left {
        width: 18rem ;
        padding: 0 2rem 0 0;
    }

    .right {
        width: 38rem;
    }

    main:after {
        content: "";
        display: table;
        clear: both;
    }

    nav {
        text-align: left;
    }
}



